<div class="layui-footer footer footer-demo">
    <div class="layui-foot-main">
    </div>
</div>
<script>
    //一般直接写在一个js文件中
    layui.use(['element'], function(){
        var element = layui.element;
//        element.on('nav(nav-admin)', function(ele){
//            $(ele).addClass("layui-this");
//        });
    });
</script>
</body>
</html>